<div class="row">
  <div class="col-xs-12"
       [routerLink]="['/recipes', index]"
  >
    <a
      style="cursor: pointer;"
      class="list-group-item clearfix"
      routerLinkActive="active"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">
          {{recipe.name}}
        </h4>
        <p class="list-group-item-text"> {{[recipe.desc]}} </p>
      </div>
      <span class="pull-right">
        <img [src]="recipe.imagePath"
             alt="image"
             class="img-responsive"
             style="max-width: 50px"
        />
      </span>
    </a>
  </div>
</div>
